%section#main{style: "background-image: url(#{asset_url(Setting.cover_image.url)});"}
	.cover 
		%h1.cover-title Start Training Together 
		%h3.cover-subtitle Stop managing clients, start managing relationships. You deserve a better personal training software to connect with your clients. We’re here to make it

		#form-wrapper
			= render "form"
			%small Be the first to know, get early access 
		%footer
			%p
				Powered by 
				%a{href: "http://traintogether.co"} Train Together, LCC

