- achieved = @user.achieved(prize)

.prize{class: "prize #{'active-prize' if achieved}"}
	%span.prize-number{style: "color:white; background-color:#333; border-radius:inherit"}
		= prize.number_of_referrals
		%span friends
	%p.prize-name
		= prize.name

	- if prize.image.present?
		= image_tag(prize.image.url, width: 161, height: 161, style: "top: -250px")